.original{

max-width:700px;
margin:120px auto;
padding:35px;

background:
linear-gradient(
145deg,
#16212e,
#243b55
);

border-radius:18px;

text-align:center;

color:#e8f6ff;

border:2px solid #7dff72;

box-shadow:
0 0 20px rgba(125,255,114,.25),
0 0 40px rgba(0,180,255,.15);

}

.original h2{

color:#7dff72;

margin-bottom:25px;

text-shadow:
0 0 10px rgba(125,255,114,.7);

}

.original img{

width:240px;

border-radius:18px;

margin-bottom:20px;

box-shadow:
0 0 20px rgba(0,0,0,.4);

}

.original h3{

color:#7dff72;

margin-bottom:15px;

}

.original p{

color:#cdefff;

margin:10px 0;

}

.original button{

margin-top:25px;

padding:12px 22px;

border:none;

border-radius:12px;

background:#7dff72;

color:#16212e;

font-weight:bold;

cursor:pointer;

transition:.2s;

}

.original button:hover{

transform:scale(1.05);

box-shadow:
0 0 15px #7dff72;

}